#!/bin/bash

##
## Requirements:
## -------------
##
## - fping
## - iptables

{% set minio_nodes = minio_server_cluster_nodes | join('" "') | replace("http://", "") | regex_replace ('/*', "") %}

NODES=("{{ minio_nodes }}")

for NODE in ${NODES[@]}
do
  if [  "$NODE" != "$HOSTNAME" ]; then
    RULE="-d $NODE -p tcp --dport 9000 -j REJECT --reject-with tcp-reset"
    if ! fping -c1 -t500 "$NODE" >/dev/null 2>&1; then
      if ! iptables -C OUTPUT $RULE >/dev/null 2>&1; then
        logger -t minio-circuit-breaker "disabling $NODE"
        iptables -A OUTPUT $RULE 
      fi
    else
      if iptables -C OUTPUT $RULE >/dev/null 2>&1; then
        logger -t minio-circuit-breaker "re-enabling $NODE"
        iptables -D OUTPUT $RULE
      fi
    fi
  fi
done
