{{ ansible_managed | comment }}

# This file is to remember the immediate previous credentials, in case they were.
# changed.
# Minio stores its configuration a) within itself and b) encrypted. So, in order
# to rotate them, it has to know both during re-encryption. It is assumed, that
# this procedure is finished after minio started successfully. Which is when the
# values in this file will be updated with the new ones as well.

{% if minio_access_key is defined and minio_access_key | length > 0 %}
# Previous access Key of the server.
MINIO_ACCESS_KEY_OLD="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key is defined and minio_secret_key | length > 0 %}
# Previous secret key of the server.
MINIO_SECRET_KEY_OLD="{{ minio_secret_key }}"
{% endif %}
