description "minio"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on shutdown

# Maximum file descriptor number that can be opened
limit nofile 65536 65536

# Set the kill signal and timeout
kill signal SIGTERM

pre-start script
    # enable the dash allexport feature
    set -a

    # stop job from continuing if no config file found for daemon
    [ ! -f {{ minio_server_envfile }} ] && { stop; exit 0; }

    # source the config file
    . {{ minio_server_envfile }}

    # stop job from continuing if MINIO_VOLUMES not set
    [ -n "$MINIO_VOLUMES" ] || { echo "Variable MINIO_VOLUMES not set in {{ minio_server_envfile }}"; stop; exit 0; }

end script

script
    # enable the dash allexport feature
    set -a

    # source the environment config file
     . {{ minio_server_envfile }}

    # start the minio server
    exec sudo -u {{ minio_user }} {{ minio_server_bin }} server $MINIO_OPTS $MINIO_VOLUMES
end script
