# {{ ansible_managed }}

# Minio local/remote volumes.
MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
# Minio cli options.
{% if minio_config_dir %}
MINIO_OPTS="--config-dir {{ minio_config_dir}} --address {{ minio_server_addr }} {{ minio_server_opts }}"
{% else %}
MINIO_OPTS="--address {{ minio_server_addr }} {{ minio_server_opts }}"
{% endif %}

{% if minio_access_key %}
# Access Key of the server.
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
# Secret key of the server.
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}
{% if minio_region %}
# Region to use
MINIO_REGION="{{ minio_region }}"
{% endif %}
