{{ ansible_managed | comment }}

# Minio local/remote volumes.
MINIO_VOLUMES="{{ __minio_volumes }}"

# Minio cli options.
MINIO_OPTS="--address {{ minio_server_addr }} {{ minio_server_opts }}"

{% if minio_access_key %}
# Access Key of the server.
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
# Secret key of the server.
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}

{{ minio_server_env_extra }}
